{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="form-group" style="margin :  30px; ">
		<h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-group'}}) }}
		<button type="submit" class="btn btn-lg btn-primary" class="btn">S'inscrire</button>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
